

body {
    background-color: cornsilk;
}

ul {
    list-style: none;
}

#main {
    display: block
}

#holdQuestions{
    display: none;
}

#recordScore{
    display: none;
}

#highscoreTracker {
    display: none;
}